body{
  background-color: #1e1e1e;
}


/*Navbar*/
.navbar{
    align-items: center;
    background-color: transparent;
    display: flex;
    gap: 192px;
    height: auto;
    justify-content: center;
    position: relative;
    padding: 30px;
    padding-top: 15px;
}

.left-btn:hover{
  background-color: transparent !important;
}

.right-btn{
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 1;
  gap: 12px;
  height: auto;
  justify-content: flex-end;
  position: relative;
}

/*Menu Button*/

.menu-btn{
  display: flex;
  align-items: center;
  background-color: #851de0;
  border-radius: 45px;
  height:25px;
  justify-content: center;;
  padding: 10px;
  position: relative;
  width: 80px;
  text-transform: none;
}

.menu-btn .menu{
  color: #ffffff;
  font-family: "Convergence",Helvetica !important;
  font-size: 20px;
  font-weight: 400;
}


/*Logo*/
.LOGO{
  align-items: center;
  display: flex;
  gap:10px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: fit-content;
}

.LOGO .streetwise{
  color: #e8e2e2;;
  font-family: "Convergence",Helvetica;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

/*Contact */



.user-log-sign-btn{
  align-items: center ;
  background-color: #ffffff !important;
  border-radius: 45px !important;
}

.log-sign{
  
  color: #1e1e1e !important;
  font-family: 'Montserrat', sans-serif !important;   /*Kanit instead Of Orbit*/ 
  font-style: normal ;
  font-weight: 600 !important;
  text-transform: none !important;
}
.contact-btn{
  background-color: transparent !important;
  color: white !important;
  
}
.log-sign:hover
{
  background-color: #FF8C8C !important;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0) !important;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0) !important;
  position: relative;
  transition-duration: 0.3s !important;
  transition-property: transform !important;
}